pre.highlight {
    padding: map-get($spacers, 3) 0 map-get($spacers, 3) map-get($spacers, 3);
    margin: 0;
    background-color: $text-background-color;
    border-radius: map-get($base, border-radius);
    & > code {
        display: block;
    }
}